*{
    font-family: "Jersey 15", sans-serif;
    background-color: rgb(163, 170, 173);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(163, 170, 173);
    align-items: center;
    flex-direction: column;
}

img{
    width: 200px;
    height: auto;
}


h1{
    text-align: center;
    top: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    font-size: 48px;
    background-color: navy;
    color: white;
    left: 0;
    position: fixed;
    border-bottom: 5px solid red;
}

h2{  
    font-size: 36px;     
    color: black;   
    margin: 5px;    
    padding: 0;     
}

#left-container {
    position: absolute;  
    left: 20px;         
    top: 60px;           
    display: flex;   
    flex-direction: column;
    gap: 10px;        
}

h3 {
    position: absolute;  
    right: 20px;         
    top: 60px;           
    font-size: 36px;     
    color: black;   
    margin: 5px;    
}

#bottom{
    text-align: center;
    margin: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-size: 48px;
    background-color: navy;
    color: white;
    border-top: 5px solid red;
    position: fixed;
    bottom: 0;
}

#playerInput{
    background-color: gray;
    padding: 10px;
    font-size: 18px;
    color: black;
    width: 300px;        
}

#answer-btn::placeholder{
    color: black;
}

.center-text{
    font-size: 30px;
    margin-bottom: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;  /* Stack p and input vertically */
    align-items: center;     /* Horizontally center the input */
    justify-content: center; /* Vertically center the elements */
    gap: 10px;               /* Space between the p and input */
}

p{
    text-align: center;
}

@media only screen and (max-width: 550px){
    h2, h3{
        font-size: 20px;
    }
}